<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="students-data">
        <thead>
            <tr>
                <th>Analysis status</th>
                <th>Name and ID 1</th>
                <th>Office Added By</th>
                <th>Date Added</th>
                <th>Date Updated</th>
                
                <th>Name and ID 2</th>
                <th>Office Added By</th>
                <th>Date Added</th>
                <th>Date Updated</th>
            </tr>
        </thead>
        <tbody>
        {% for p in pairs %}
            <tr>
                <td class="center">{{p.analysis_status}}</td>
                
                <td><a href="">{{p.fullname1}}, {{p.id1}}</a></td>
                <td class="center">{{p.ofc_add_by1}}</td>
                <td class="center">{{p.add_date1}}</td>
                <td class="center">{{p.upd_date1}}</td>
                
                <td><a href="">{{p.fullname2}}, {{p.id2}}</a></td>
                <td class="center">{{p.ofc_add_by2}}</td>
                <td class="center">{{p.add_date2}}</td>
                <td class="center">{{p.upd_date2}}</td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<!-- /.table-responsive -->
